body {
	padding-top: 30px;
	padding-bottom: 30px;
}
.blog-title {
	font-size: 40px;
}

h2 {
	padding-top: 60px; 
	margin-top: -60px;
}

h3 {
	padding-top: 60px; 
	margin-top: -60px;
}

h4 {
	padding-top: 60px; 
	margin-top: -60px;
}

#last-mile {
	height: 65%;
	width: 65%;
}